html,body,ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
.background {
  background-color: #f2f2f2;
  background-image: url('images/background.jpg'); /* Replace 'image-url.jpg' with your image path */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 30;
}
.im{
  height: 70px;
  width: 70px;
  float: left;
}

h1,h2,h3 {
  color: #333;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0%;
  height: 130px;
  width: 100%;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  margin-top: 130px;

}

section {
  margin-bottom: 40px;
  
}

.product {
  background-color: rgba(51,51,51,0.5);
  backdrop-filter: blur(20px);
  max-width: 800px;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  max-width: 100%;
}

.product h3 {
  margin-top: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.btn,#cartButton {
  font-size: 17px;
  background: transparent;
  border: transparent;
  padding: 1em 1.5em;
  color: white;
  text-transform: uppercase;
  position: relative;
  transition: .5s ease;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #EBA937;
  transition: .5s ease;
}

.btn:hover {
  color: #EBA937;
  transition-delay: .5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: .4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
