body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 20px;
  color: #EBA937;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 170px;
  height: 65vh;
  background-color: rgba(51,51,51,0.5);
  backdrop-filter: blur(10px);
  z-index: -1;
  border-radius: 10px;
  padding: 50px;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height:100vh;
  background-image: url("images/background.jpg");
  background-position: right;
  background-size:100%;
  z-index:-1;
}

.cart-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.cart-item {
  background-color: rgba(255,255,255,0.7);
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  max-width: 350px;
  backdrop-filter: blur(5px);
  max-height:350px ;


}

.cart-item img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.item-details h2 {
  margin-top: 0;
}

.proceed-to-buy {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.proceed-to-buy button {
  padding: 10px 20px;
  background-color: #f90;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.proceed-to-buy button:hover {
  background-color: #f60;
}
.item-details {
  flex-grow: 1;
}

.item-quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.item-quantity input {
  width: 30px;
  text-align: center;
  margin: 0 5px;
}

.item-quantity button {
  padding: 5px;
  background-color: #f90;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.item-quantity button:hover {
  background-color: #f60;
}

.remove-item button {
  padding: 5px;
  background-color: #f90;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.remove-item button:hover {
  background-color: #f60;
}
.receipt {
  display: none;
  width: 300px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.receipt-header {
  text-align: center;
  margin-bottom: 20px;
}

.receipt-items {
  margin-bottom: 20px;
}

.receipt-item {
  margin-bottom: 10px;
}

.receipt-total {
  text-align: right;
}